<p>footer works!</p>
<section>
    <h2>FIND US AT</h2>
        <div class="adress">
            <img src="assets/img/4_section_find_us_at/SVG/map_marker.svg" alt="">
            <span>Kapuzinerstraße 31, München, 80337</span>
        </div>
        <iframe class="google_address" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5326.416313903243!2d11.561203!3d48.125509!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ddf44d01affc5%3A0xe7a07e0710be63e8!2sKapuzinerstra%C3%9Fe%2031%2C%2080337%20M%C3%BCnchen!5e0!3m2!1sen!2sde!4v1710704454369!5m2!1sen!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>