section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  font-family: "Raleway";
  font-weight: bold;
  font-size: 32px;
  color: #675e54;
  text-align: left;
}

h2 {
  font-family: "Raleway";
  font-size: 80px;
  font-weight: bold;
  color: #9f0908;
  margin: 0px;
}

h3 {
    font-family: 'Raleway';
    font-size: 56px;
    font-weight: bold;
  margin: 0;
}

th {
  padding-right: 150px;
  padding-bottom: 8px;
}

.ramen_photo {
  width: 352px;
  height: 352px;
}
.dish {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
