
<section>
    <h2>FIND US AT</h2>
        <div class="center">
            <img src="assets/img/4_section_find_us_at/SVG/map_marker.svg" alt="">
            <span>Kapuzinerstraße 31, München, 80337</span>
        </div>
</section>
<footer>
    <img src="assets/img/5_section_footer/SVG/sakura_ramen_logo_and_text.svg" alt="">  
    <div>
        <img src="assets/img/5_section_footer/SVG/facebook_logo.svg" alt="">
        <img src="assets/img/5_section_footer/SVG/instagram_logo.svg" alt="">
        <img src="assets/img/5_section_footer/SVG/tripadvisor_logo.svg" alt="">
    </div>
    <a href="imprint">Imprint</a>
</footer>

