<section>
  <h2>HOW TO ORDER</h2>
  <div class="how_to_order">
    <div class="images">
      <img
        class="order_icons"
        src="assets/img/2_section_how_to_order/SVG/noodle.svg"
        alt=""
      />
      <span>Pick your noodle</span>
    </div>
    <div class="images">
      <img
        class="order_icons"
        src="assets/img/2_section_how_to_order/SVG/broth.svg"
        alt=""
      />
      <span>Pick your broth</span>
    </div>
    <div class="images">
      <img
        class="order_icons"
        src="assets/img/2_section_how_to_order/SVG/egg.svg"
        alt=""
      />
      <span>Add your toppings</span>
    </div>
  </div>
</section>
